<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>게시물 등록</h2>
	<hr>
	<form action="/board/insert" method="post" enctype="multipart/form-data">
		<input type="hidden" name="no" th:value="${no}">
		제목: <input type="text" name="title"><br/>
		작성자: <input type="text" name="writer"><br/>
		내용: <br/>
		<textarea cols="60" rows="10" name="content">
		</textarea><br>
		파일: <input type="file" name="fname"><br>
		비밀번호: <input type="password" name="pwd"><br/>
		<input type="submit" value="등록"/><br/>
		<input type="reset" value="초기화"/>
	</form>
</body>
</html>