<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
	$(function(){
		$(".delete").click(function(){
			if(confirm('정말로 삭제하시겠습니까?')==false){
				event.preventDefault();
				//기본 이벤트 제거
			}
		})
	});
</script>
</head>
<body>
	<h2>상품관리</h2>
	<hr>
	<a href="/goods/insert">상품 등록</a><br>
	<table border="1" width="80%">
		<tr>
			<td>상품번호</td>
			<td>상품명</td>
			<td>수량</td>
			<td>가격</td>
			<td>파일이름</td>
			<td>수정</td>
		</tr>
		<tr th:each="g:${list}">
			<td th:text="${g.no}"></td>
			<td th:text="${g.name}"></td>
			<td th:text="${g.qty}"></td>
			<td th:text="${g.price}"></td>
			<td th:text="${g.fname}"></td>
			<td>
				<a th:href="@{/goods/update(no=${g.no})}">수정</a>
				<a class="delete" th:href="@{/goods/delete(no=${g.no})}">삭제</a>
			</td>
		</tr>
	</table>
</body>
</html>