<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="http://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
	Kakao.init("27c65e2ff9ae6db35e5dc3fa427c77d9");
	function kakaoLogout(){
		Kakao.API.request({
			url: "/v1/user/unlink",
			success : function(){
				alert("카카오 로그아웃 되었습니다.");
				location.href="/login.html";
			}
		})
	}
</script>
</head>
<body>
	<div th:if="${session.name != null}">
		<p><span th:text="${session.name}"></span>님, 환영합니다.</p>	
		<a href="javascript:kakaoLogout()">로그아웃</a>	
	</div>
</body>
</html>