<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>관리자 메뉴</h2>
	
	<h3>회원목록</h3>
	<hr/>
	<table>
		<tr>
			<td>아이디</td>
			<td>이름</td>
			<td>롤</td>
			<td>Action</td>
		</tr>
		<tr th:each="m:${list}">
			<td th:text="${m.id}" th:value="${m.id}"></td>
			<td th:text="${m.name}" th:value="${m.name}"></td>
			<td th:text="${m.role}" th:value="${m.role}"></td>
			<td>
				<a th:href="@{'/admin/member/delete/'+${m.id}}">삭제</a>
			</td>
		</tr>
	</table>
</body>
</html>